body {
    margin: 0;
    padding: 0;
}
nav {
    border-bottom: 2px solid gold;
    padding: 16px;
    background-color: rgb(255, 64, 0);

}
header nav a[href="list.html"] {
    color: white;
}
main {
    padding: 16px;
}
h1 {
    color: green;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}
.grid-item {
    padding: 16px;
}

img {
    height: 200px;
}

a {
    text-decoration: none;
    color: green;
}
a:hover {
    text-decoration: underline;
}
tr:nth-child(even) td {
    background-color: #d5d1d1;
}
footer {
    font-size: medium;
    background-color: rgb(199, 249, 123);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 0px;
}